absl-py==0.7.1
astor==0.7.1
cycler==0.10.0
gast==0.2.2
gin-config==0.1.3
google-pasta==0.1.4
grpcio==1.19.0
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.3
numpy==1.16.2
protobuf==3.7.0
pyparsing==2.3.1
python-dateutil==2.8.0
six==1.12.0
tb-nightly==1.14.0a20190314
termcolor==1.1.0
tf-agents-nightly==0.2.0.dev20190306
tf-estimator-nightly==1.14.0.dev2019031401
tf-nightly==1.14.1.dev20190314
tfp-nightly==0.7.0.dev20190304
Werkzeug==0.15.3
